.RightSide{
    display: flex;
    flex-direction: column;

    width: 95%;
    justify-content: space-evenly;
}


@media screen and (max-width: 1200px) {
    .RightSide{
        justify-content: flex-start;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px)
{
    .RightSide{
        width: 100%;
        margin-top: 0;
    }
    .RightSide>div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.RightSide {
    margin-top: 20px;
  }
  
  .toggle-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-input {
    display: none;
  }
  
  .toggle-label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s;
  }
  
  .toggle-button {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s;
  }
  
  .toggle-input:checked + .toggle-label {
    background-color: #f699f9; /* Adjust to your desired color */
  }
  
  .toggle-input:checked + .toggle-label .toggle-button {
    left: 25px;
  }
  
  .toggle-container span {
    margin-left: 10px;
  }
  